@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card ">
                <div class="card-heading text-center bg-primary pt-3 pb-3 text-white">
                    <h4>Login</h4>
                </div>
                <div class="card-body">

                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label asp-for="UserName">Kullanıcı Adı :</label>
                            <input asp-for="UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Şifre :</label>
                            <input asp-for="Password" class="form-control" />
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Giriş</button>
                            <a class="btn btn-large btn-success" asp-action="kayit" class="nav-link">Kayıt</a>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
